<!-- Ng for, ng if are directives -->

<!DOCTYPE html>
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

{{arrayOfAnimals}}
  <h1> I like pie</h1>

  <li *ngFor="let oneAnimal of arrayOfAnimals">

  <div *ngIf="oneAnimal.category !== 'mammal'">
    <h3>Name:{{oneAnimal.name}}</h3>
    <h4>Type:{{oneAnimal.category}}</h4>
  </div>
    
  <div *ngIf="oneAnimal.category === 'mammal'">
      <h1>Name:{{oneAnimal.name}}</h1>
      <h2>Type:{{oneAnimal.category}}</h2>
    </div>



  
    </li>
    <p *ngIf="arrayOfAnimals.length >3">I AM THE VIRTUOSO</p>


    <!-- <h3>Name: {{oneAnimal.name}}</h3>
    <h4>Type: {{oneAnimal.category}}</h4>

    <h1>Name: {{oneAnimal.name}}</h1>
    <h2>Type: {{oneAnimal.category}}</h2> -->

<!-- <li *ngFor="let oneAnimal of arrayOfAnimals">
  Name: {{oneAnimal}}
</li> -->


</div>



<!-- Angular also interprets information via {{title}} -->